language: node_js
node_js:
- "7"

script: echo "I really should add tests or something here."

jobs:
  include:
  - stage: npm release
    node_js: "7"
    script: echo "Deploying to npm ..."
    if: branch = master
    deploy:
      provider: npm
      api_key: $NPM_API_KEY
      on: deploy-npm-release